@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import './nprogress.scss';

body {
  font-family: 'Roboto', sans-serif;
  background: rgb(45, 106, 169);
  background: -moz-linear-gradient(180deg, rgba(45, 106, 169, 1) 0%, rgba(25, 63, 102, 1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(45, 106, 169, 1) 0%, rgba(25, 63, 102, 1) 100%);
  background: linear-gradient(180deg, rgba(45, 106, 169, 1) 0%, rgba(25, 63, 102, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2d6aa9",endColorstr="#193f66",GradientType=1);
}
